<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Lista de usuarios</h1>
<hr>

    <table>
        <thead>
            <tr>
                <th> codigo</th>
                <th> nome </th>
                <th> saldo </th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario:${usuarios}">
                <td th:text="${usuario.codigo}">codigo</td>
                <td th:text="${usuario.nome}">nome</td>
                <td th:text="${usuario.saldo}">saldo</td>
            </tr>
        </tbody>
    </table>

</body>
</html>